<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="isauto" value="0"/>
    <add key="posturl" value="http://127.0.0.1:8080/ilight/servlet/SetSendOKServlet"/>
    <add key="geturl" value="http://127.0.0.1:8080/ilight/servlet/GetILightNeedSend"/>
    <add key="isget" value="0"/>
  </appSettings>
</configuration>